# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual environments
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Data files
*.csv
*.parquet
*.db
*.duckdb

# Secrets
.env
*.pem
*.key
secrets/
gcp_config.json

# dbt
target/
dbt_packages/
logs/
.user.yml

# Airflow
airflow_logs/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.pdf

# MkDocs
site/
